body {
  background: #f2f2f2;
  font-family: Arial;
}

.login-box {
  width: 300px;
  background: white;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-box h2 {
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

#msg {
  text-align: center;
  color: red;
  margin-top: 10px;
}
